<div style="background-color:white ; color: black">


<% var numero1= 1; %>

<% var arregloMascotas=[{nombre:'Chiquita'},{nombre:'Scrappy'},{nombre:'Penny'}]; %>

<h1>Home</h1>
<h2><%=   titulo  %></h2>
<h2><%=   mauricio.nombre %> - <%=   mauricio.cedula %> - <%=   numero1 %></h2>

<% for (var i=0; i<arregloMascotas.length;i++){ %>

<h3><%= arregloMascotas[i].nombre%></h3>

<%}%>

</div>


<h1>Bienvenidos</h1>

<div class="jumbotron">
  <h1>Mascotas!</h1>
  <p>Registra tus mascotas para compartirlas por la web :)</p>
  <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrar Usuarios</a></p>
</div>